@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --noir: black;
    --gris:#8C8C8C;
    --rose: #E9C5B5;
    --rosebonbon: #FDDDE2;
    --roseblanc: #FFF9FB;
    --orangepale: #FFE5DA;
    --orange: #D8A48F;
    --beige: #fffdf3;
    --beigefonce:#F4F1DE;
    --beigepale:#FBFAF5;
    --beigeciel: #F9F7EB;
    --vertpale: #EFEBCE;
    --vertciel: #F8F4DB;
    --vert: #D6CE93;
    --vertgazon: #DDD7AB;
    --vertfonce: #A3A380;
}

*{
    font-family: Mukta;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    background-color: var(--beige);
    overflow-x: hidden;
}

/*----------SECTION HEADER-------------*/
header{
    width: 100%;
    height:100vh;
    position: relative;
}

h1{
    width: 30vw;
    text-align: center;
    position: absolute;
    bottom: 50vh;
    left: 35vw;
    font-family: Gorditas;
    font-size: 15vw;
    color:var(--orange);
    z-index: 1;
}

.appel{
    position: absolute;
    left: 47vw;
    bottom: 12vh ;
    width: 5vw;
    height: 5vh;
    opacity: 0.5;
    z-index: 1;
}

.presentation{
    position: absolute;
    width: 98vw;
    bottom: 18vh;
    color: var(--gris);
    text-align: center;
    font-size: 11px;
}

/*----------SECTION MAIN------------*/

/*---------Chapitre 1--------*/


#chapitre1{
    border: 4px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    width: 100vw;
    height:100vh;
    background-color: var(--beige);
    overflow: hidden ;
}

.scene1-lilo-triste-1{
    width: 30vw;
    height: auto;
    position: absolute;
    bottom: -100vh;
    left: 25vw;
    object-fit:cover;
    z-index: 101;
}

.scene1-lilo-triste-2{
    position: absolute;
    width: 30vw;
    object-fit:cover;
    bottom: -300vh;
    z-index: 100;
}

.scene1-titre{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.scene1-parallax1{
    
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    z-index: 90;
}

.scene1-parallax2{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:100vh;
    object-fit:cover;
    z-index: 91;
}

.scene1-parallax3{
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    z-index: 105;
}

.scene1-parallax4{
    box-shadow: inset 0 4em 2em var(--beige);
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    z-index: 107;
}

.scene1-gradient{
    position: absolute;
    top: 200vh;
    width: 100vw;
    height: 100vh;
    z-index: 85;
    background: linear-gradient(180deg, var(--vert) 0%, var(--vertciel) 100%);
}

.scene1-fond{
    position: absolute;
    top: 300vh;
    height: 100vh;
    width: 100vw;
    background-size:cover;
    background-position-x: 90%;
    z-index: 80;
}

/*---------Chapitre 2--------*/


#chapitre2{
    overflow: hidden;
    border: 4px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    top: 0;
    width: 100vw;
    height:100vh;
}

.scene2-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--vertgazon) 0%, var(--vertpale) 100%);
}

.scene2{
    position: relative;
    width: 100vw;
    height: 300vh;
    object-fit:cover;
}

.scene2-lilo-tombe{
    position: absolute;
    width: 25vw;
    left: 75vw;
    z-index: 3;
}

.scene2-mimi{
    position: absolute;
    width: 80%;
    right: 30%;
    z-index: 2;
}

.scene2-lilo-assise{
    position: absolute;
    width: 80%;
    right: -15%;
    top: -10%;
    z-index: 1;
}

.scene2-nuage{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sur-nuage-1{
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 33vw;
    top: 125vh;
    z-index: 1;
}

.scene2-poisson1{
    position: absolute;
    width: 25vh;
    top: 370vh;
    z-index: 1;
}

.scene2-poisson2{
    position: absolute;
    left: 25vh;
    width: 20vw;
    top: 320vh;
    z-index: 1;
}

.scene2-poisson3{
    position: absolute;
    right: 40vh;
    top: 315vh;
    width: 25vw;
    z-index: 1;
}

.scene2-poisson4{
    position: absolute;
    right: 25vh;
    top: 370vh;
    width: 35vw;
    z-index: 1;
}

/*---------Chapitre 3--------*/

#chapitre3{
    overflow: hidden;
    border: 4px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    width: 100vw;
    height:100vh;
}

.scene3-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--rose) 0%, var(--rosebonbon) 100%);
}
.scene3{
    position: relative;
    width: 100vw;
    object-fit:cover;
}

.scene3-nuage{
    position: absolute;
    bottom: 1%;
    width: 100%;
    z-index: 1;
}

.scene3-lilo-mimi{
    position: absolute;
    bottom: 30%;
    width: 100%;
    z-index: 1;
}

.sur-nuage-2{
    position: absolute;
    width: 40vw;
    height:40vw;
    bottom: -100vh;
    z-index: 1;
}

.scene3-cristal-1{
    width: 10vw;
    top: 110vh;
    left: 39vw;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-2{
    width: 10vw;
    top: 110vh;
    left: 51vw;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-3{
    width: 10vw;
    top: 100vh;
    left: 45vw;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-4{
    transform: rotate(-90deg);
    width: 10vw;
    top: 100vh;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-5{
    transform: rotate(-110deg);
    width: 10vw;
    left: 36vw;
    top: 100vh;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-6{
    transform: rotate(-110deg);
    width: 10vw;
    top: 100vh;
    left: 68vw;
    position: absolute;
    z-index: 1;
}

.scene3-cristal-7{
    transform: rotate(-90deg);
    width: 10vw;
    top: 100vh;
    left: 88vw;
    position: absolute;
    z-index: 1;
}

/*---------Chapitre 4--------*/

#chapitre4{
    overflow: hidden;
    border: 4px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    width: 100vw;
    height:100vh;
    background-size: cover;
}

.scene4-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--rosebonbon) 0%, var(--orangepale) 100%);
}

.scene4-fond{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/img_arriere_plan/scene4_elements/scene4_fond_01.png);
}

.scene4-fond-blanc{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--roseblanc);
}

.scene4-transition{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--roseblanc) 0%, var(--noir) 100%);
}

.scene4-noir{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/scene4_elements/scene4_fond_02.png);
}

.scene4-transition2{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--noir) 0%, var(--beige) 100%);
}

.scene4-kiwi{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.scene4-nuage{
    position: absolute;
    bottom: 1%;
    width: 100%;
    z-index: 1;
}

.scene4-lilo-mimi{
    position: absolute;
    bottom: 30%;
    width: 100%;
    z-index: 1;
}

.sur-nuage-3{
    width: 35vw;
    height:35vw;
    position: absolute;
    top: 150vh;
    z-index: 1;
}

.scene4-yeux-lilo{
    position: absolute;
    width: 10vw;
    top: 440vh;
    z-index: 1;
}

.scene4-yeux-mimi{
    position: absolute;
    left: 10vw;
    top: 440vh;
    width: 10vw;
    z-index: 1;
}

/*---------Chapitre 5--------*/


#chapitre5{
    overflow: hidden;
    border: 1px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    width: 100vw;
    height:100vh;
}

.scene5-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--beige) 0%, var(--beigefonce) 100%);
}

.scene5{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 0 60%;
    background-image: url(../img/img_arriere_plan/scene5_elements/scene5_fond.jpg);
}

.scene5-fond-blanc{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beigeciel);
}

.scene5-nuage{
    position: absolute;
    bottom: 1%;
    width: 100%;
    z-index: 1;
}

.scene5-lilo-mimi{
    position: absolute;
    bottom: 30%;
    width: 100%;
    z-index: 1;
}

.sur-nuage-4{
    position: absolute;
    width: 35vw;
    height:35vw;
    bottom: -100vh;
    z-index: 1;
}

/*---------Chapitre 6--------*/

#chapitre6{
    overflow: hidden;
    border: 1px solid rgba(218, 0, 0, 0.5); 
    position: relative;
    width: 100vw;
    height:100vh;
}

.scene6-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beigefonce);
}

.scene6{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.scene6-fin{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.scene6-lilo-mimi-calin{
    position: absolute;
    top: 140vh;
    left: 25vw;
    z-index: 105;
    width: 35vw;
}

.scene6-escalier1{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: 0;
    top: 158vh;
}

.scene6-escalier2{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: -10vw;
    top: 150vh;
}

.scene6-escalier3{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: -20vw;
    top: 142vh;
}

.scene6-escalier4{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: -30vw;
    top: 134vh;
}

.scene6-escalier5{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: -40vw;
    top: 126vh;
}

.scene6-escalier6{
    position: absolute;
    width: 55vw;
    z-index: 104;
    right: -50vw;
    top: 118vh;
}

.scene6-lilo-droite{
    z-index: 105;
    width: 35vw;
    position: absolute;
    left: 35vw;
    top: 140vh;
}

 #Calque_4{
    position: absolute;
    top: 10vh;
    left: 40vw;
    width: 20vw;
 }

 #Calque_3{
    position: absolute;
    top: 15vh;
    left: 40vw;
    width: 20vw;
 }


img { border: 1px solid rgba(218, 0, 0, 0.5); }

/*----------ANIMATIONS SPRITESHEET------------*/

.size{
    height: 600vh;
}

body.is-scrolling .sprite1{
    animation-play-state: running;
}

body.is-scrolling .sprite2{
    animation-play-state: running;
}

.sprite1{
    z-index: 1;
    position: absolute;
    top: 600vh;
    left: 30vw;
    background-image: url(../img/img_personnages/kiwi/spritesheet_kiwi.png);
    width: 30vw;
    aspect-ratio: 1/1;
    background-size:12000% 100%;
    animation-name: kiwi;
    animation-duration: 1.5s;
    animation-timing-function: steps(120);
    animation-iteration-count: infinite;
    animation-play-state:paused;
}

.sprite2{
    z-index: 1;
    position: absolute;
    top:158vh;
    right: 5vw;
    background-image: url(../img/img_elements_visuels/spritesheet_enseigne.png);
    animation-duration: 1s;
    width: 20vw;
    aspect-ratio: 1/1;
    background-size: 4800% 100%;
    animation-name: enseigne;
    animation-timing-function: steps(48);
    animation-iteration-count: infinite;
    animation-play-state:paused;
}

@keyframes kiwi {
    from { background-position: 0 0; }
    to { background-position: -12000% 0; }
}
@keyframes enseigne {
    from { background-position: 0 0; }
    to { background-position: -4800% 0; }
}

/*-------MEDIA QUERIES-------*/




/*---------FOOTER--------*/
footer{
    text-align: center;
    color: var(--gris);
   
}