@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --gris:#8C8C8C;
    --rose: #BF6F7E;
    --orange: #D8A48F;
    --beige: #fffdf3;
    --vertpale: #EFEBCE;
    --vert: #D6CE93;
    --vertfonce: #A3A380;
}

*{
    font-family: Mukta;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--beige);
}

/*----------SECTION HEADER-------------*/
header{
    width: 100%;
    height:100vh;
}

h1{
    width: 30vw;
    text-align: center;
    position: absolute;
    left: 35vw;
    font-family: Gorditas;
    font-size: 15vw;
    color:var(--orange);
    z-index: 1;
}

.appel{
    position: absolute;
    left: 47vw;
    bottom: 12vh ;
    width: 5vw;
    height: 5vh;
    opacity: 0.5;
    z-index: 1;
}

.presentation{
    position: absolute;
    width: 98vw;
    bottom: 18vh;
    color: var(--gris);
    text-align: center;
    font-size: 11px;
}



/*----------SECTION MAIN------------*/

#chapitre1{
    position: relative;
    width: 100vw;
    height:100vh;
    background-color: var(--vertpale);
}
#chapitre2{
    position: relative;
    top: 200vh;
    width: 100vw;
    height:200vh;
    background-size: cover;
}
#chapitre3{
    position: relative;
    top: 400vh;
    width: 100vw;
    height:100vh;
    background-size: cover;
}
#chapitre4{
    position: relative;
    top: 700vh;
    width: 100vw;
    height:100vh;
    background-size: cover;
}

#chapitre5{
    position: relative;
    top: 1000vh;
    width: 100vw;
    height:100vh;
    background-size: cover;
}
#chapitre6{
    position: relative;
    top: 1200vh;
    width: 100vw;
    height:100vh;
}

img{
    margin: 0px;
}

/*.scene1{
    width: 100vw;
    position: absolute;
}*/

.scene1-parallax1{
    position: relative;
    top: 100vh;
    height: 100vh;
    background-size:cover;
    z-index: 1;
    background-image: url(../img/img_arriere_plan/scene_1_elements/scene1_arbre_derriere.png);
}

.scene1-parallax2{
    position: relative;
    height: 100vh;
    background-size:cover;
    z-index: 2;
    background-image: url(../img/img_arriere_plan/scene_1_elements/scene1_gazon.png);
}

.scene1-parallax3{
    position: relative;
    top: -100vh;
    height: 100vh;
    background-size:cover;
    z-index: 3;
    background-image: url(../img/img_arriere_plan/scene_1_elements/scene1_arbre_devant.png);
}

.scene1-parallax4{
    position: relative;
    top: -200vh;
    height: 100vh;
    background-size:cover;
    z-index: 4;
    background-image: url(../img/img_arriere_plan/scene_1_elements/scene1_buissons.png);
}

.scene1-fond{
    position: relative;
    top: -200vh;
    height: 100vh;
    background-size:cover;
    background-position-x: 90%;
    background-image: url(../img/img_arriere_plan/scene_1_elements/scene1_fond_avec_trou.png);
}

.scene2-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--gris);
}

.scene2{
    position: relative;
    width: 100vw;
    height: 300vh;
    background-size:cover;
    background-image: url(../img/img_arriere_plan/scene2_elements/scene2_fond.jpg);
}

.scene3-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--orange);
}
.scene3{
    position: relative;
    width: 100vw;
    height: 300vh;
    background-size:cover;
    background-position: 0, 50%;
    background-image: url(../img/img_arriere_plan/scene3_elements/scene3_fond.jpg);
}

.scene4-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--rose);
}

.scene4-fond{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/img_arriere_plan/scene4_elements/scene4_fond_01.png);
}

.scene4-noir{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/scene4_elements/scene4_fond_02.png);
}

.scene4-kiwi{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.scene5-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.scene5{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/img_arriere_plan/scene5_elements/scene5_fond.jpg);
}

.scene6-titre{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--vertpale);
}

.scene6{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/img_arriere_plan/scene6_elements/scene6_fond.jpg);
}

/*----------SpriteSheet Teste------------*/

.size{
    height: 600vh;
}

body.is-scrolling .sprite1{
    animation-play-state: running;
}

body.is-scrolling .sprite2{
    animation-play-state: running;
}

.sprite1{
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/kiwi/spritesheet_kiwi.png);
    width: 510px;
    height: 510px;
    animation-name: kiwi;
    animation-duration: 4s;
    animation-timing-function: steps(120);
    animation-iteration-count: infinite;
    transform: scale(.5) translate(60vw, 0vh);
    animation-play-state:paused;
}

.sprite2{
    background-repeat: no-repeat;
    background-image: url(../img/img_elements_visuels/spritesheet_enseigne.png);
    animation-duration: 1s;
    width: 1080px;
    height: 1080px;
    animation-name: enseigne;
    animation-timing-function: steps(48);
    animation-iteration-count: infinite;
    transform: scale(.3) translate(35vw, 0);
    animation-play-state:paused;
}

@keyframes kiwi {
    from { background-position: 0 0; }
    to { background-position: -61200px 0; }
}
@keyframes enseigne {
    from { background-position: 0 0; }
    to { background-position: -51936px 0; }
}

/*----------MEDIA QUERIES------------*/

/*@media screen and (max-width: 1024px) {
    h1{
        width: 30vw;
        left: 50vw;
        top: 50vh;
        font-size: 15vw;
    }
    
    .appel{
        left: 47vw;
        bottom: -37vh ;
        max-width: 5vw;
        max-height: 5vh;
    }
    
    .presentation{
        position: relative;
        width: 96vw;
        bottom: -36vh;
        left: 1.5vw;
        font-size: 1.1vw;
    }*/

    /*-------MAIN-------*/

    /*.scene1{
        top: 100vh;
    }
    
    .scene1-fond{
        top: 121vh;
    }
    
    .scene2{
        top: 121vh;
    }
    
    .scene3{
        top: 238vh;
    }
    
    .scene4{
        top: 350vh;
    }
    
    .noir{
        top:347vh;
    }
    .fond{
        top: 34vh;
    }
    
    .scene5{
        top: 658vh;
    }
    
    .scene6{
        top: 676vh;
    }
}

/*media queries pour tablette*/
/*@media screen and (max-width: 800px) {
    h1{
        width: 40vw;
        left: 45vw;
        font-size: 20vw;
    }
    
    .appel{
        left: 47vw;
        bottom: -35vh;
        max-width: 5vw;
        max-height: 5vh;
    }
    
    .presentation{
        position: relative;
        width: 96vw;
        bottom: -35vh;
        left: 1vw;
        font-size: 2vw;
    }
  }*/
  
  /* media queries pour phone */
  /*@media screen and (max-width: 425px) {
    h1{
        width: 50vw;
        left: 40vw;
        font-size: 25vw;
    }
    
    .appel{
        left: 45vw;
        bottom: -50vh;
        max-width: 10vw;
        max-height: 5vh;
    }
    
    .presentation{
        position: relative;
        width: 96vw;
        bottom: -50vh;
        font-size: 3vw;
    }

    
    }*/
